Temp/
Library/
Assets/SkySeries Freebie/
Logs/
UserSettings/Layouts/default-2021.dwlt
Logs/shadercompiler-UnityShaderCompiler.exe0.log
UserSettings/Layouts/default-2021.dwlt
Logs/shadercompiler-UnityShaderCompiler.exe0.log
